.Wizard {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--brand-color-primary);
  margin-bottom: 24px;
  text-align: center;
}
