.Button {
  width: 100%;
  max-width: 320px;
  height: 56px;
  border-radius: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: WorkSans;
  font-size: 16px;
  background-color: white;
}

.Button:hover,
.Button:focus {
  font-weight: bold;
}

.primary {
  background-color: var(--brand-color-primary);
  color: white;
}

.secondary {
  border-color: var(--brand-color-primary);
  color: var(--brand-color-primary);
}
