.Footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 16px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lockIcon {
  margin: 18px;
}

.disclaimer {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--light-text-color);
}

@media screen and (max-width: 420px) {
  .disclaimer {
    font-size: 12px;
  }
}
